services:
  - type: web
    name: naomi-face-studio
    env: python
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput
    startCommand: gunicorn naomi_face_studio.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        sync: false
      - key: DEBUG
        value: False
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: USE_R2
        value: True
      - key: R2_ACCESS_KEY_ID
        sync: false
      - key: R2_SECRET_ACCESS_KEY
        sync: false
      - key: R2_BUCKET_NAME
        sync: false
      - key: R2_ENDPOINT_URL
        sync: false
      - key: R2_CUSTOM_DOMAIN
        sync: false
      - key: SENDGRID_API_KEY
        sync: false
      - key: DEFAULT_FROM_EMAIL
        value: info@naomifacestudio.com
      - key: ADMIN_EMAIL
        value: info@naomifacestudio.com
      - key: SITE_URL
        value: https://www.naomifacestudio.com
      - key: ALLOWED_HOSTS
        value: naomifacestudio.com,www.naomifacestudio.com

databases:
  - name: naomi-face-studio-db
    plan: free
    databaseName: naomi_face_studio
    user: naomi_user

